*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background: #1b1b1b;
    min-height: 100vh;
    display: flex;
    align-items: center;
    /*justify-content: center;*/
    flex-direction: column;
    color:white;
    padding-inline:15%;
    overflow-x: hidden;
}
header{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin: 0 0 5vh 0;
    width:100vw;
    height:10vh;
    background:#ffffff33;
    border-bottom: 1px solid #ffffff66;;
}
header button#back{
    background:transparent;
    border:1px solid white;
    color:white;
    font-size: 2rem;
    font-weight: 500;
    padding:0.5vw 0.75vw;
    border-radius: 14px;
    cursor: pointer;
    transition: .4s;
}
header button#back:hover{
    background:white;
    color:black;
    /* green neon effect box shadow*/
    box-shadow: 0 0 10px #00ff00,
                0 0 20px #00ff00,
                0 0 40px #00ff00,
                0 0 80px #00ff00,
                0 0 120px #00ff00;
}
section{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin: 10vh 0 5vh 0;
}
h1{
    font-size: 5rem;
    font-weight: 500;
    margin-top:5vh;
    margin-bottom: 1rem;
    text-decoration: underline;
}

h2{
    font-size: 3rem;
    font-weight: 500;
    margin-bottom: 1rem;
    text-shadow: 0 0 10px #000000;
}
p{
    font-size: 1.5rem;
    font-weight: 300;
    margin-bottom: 1rem;
    text-shadow: 0 0 10px #000000;
}